
@{
    ViewBag.Title = "About";
}

<section class="home-slider owl-carousel" style="height:600px;">
    <div class="slider-item" style="background-image:url(/images/bg_1.jpg); height:600px;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate text-center">
                    <div class="text mb-5 pb-3">
                        <h1 class="mb-3">Welcome To RedBird Palace</h1>
                        <h2>Hotels &amp; Resorts</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url(/images/bg_2.jpg); height:600px;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate text-center">
                    <div class="text mb-5 pb-3">
                        <h1 class="mb-3">Enjoy A Luxury Experience</h1>
                        <h2>Join With Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>About us</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Samira hotel template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/about.css">
    <link rel="stylesheet" type="text/css" href="~/Content/about_responsive.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/demo.css">

</head>
<body>
    <div class="intro">
        <div class="container">
            <div class="row">

                <!-- Intro Content -->
                <div class="col-lg-5 intro_col">
                    <div class="intro_container d-flex flex-column align-items-start justify-content-center magic_up">
                        <div class="intro_content">
                            <div class="section_title_container">
                                <div class="section_subtitle">luxury hotel</div>
                                <div class="section_title"><h2>About the RedBird Palace</h2></div>
                            </div>
                            <div class="intro_text">
                                <p> RedBird Palace is a leading provider of hotel accommodation worldwide, offering booking services through its own network of localised websites and telephone call centres.It's mission is to make it easier for everyone to experience the world.</p>
                            </div>
                            <div class="intro_link">@Html.ActionLink("View Rooms","Index","Account")</div>
                            <a href="#" class="button_container intro_button"><div class="button text-center"><span>Book Your Stay</span></div></a>
                        </div>
                    </div>
                </div>

                <!-- Intro Image -->
                <div class="col-lg-7 intro_col">
                    <div class="intro_image magic_up">
                        <img src="~/images/about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>