
@{
    ViewBag.Title = "AdminLoggedIn";
}

<h2>AdminLoggedIn</h2>
@Html.ActionLink("LogOff","LogOff","Account") 
<br />
@Html.ActionLink("Users","Index","Users")
<br />
@Html.ActionLink("Rooms","Index","Rooms")
<br />
@Html.ActionLink("Orders","Index","Orders")